<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="global.css" />
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <img class="logo" src="" alt="logo" />
    <form class="login_form">
      <input type="text" name="아이디" placeholder="아이디" />
      <input type="text" name="비밀번호" placeholder="비밀번호" />
      <button>회원가입</button>
    </form>
    <section class="sign_up_section">
      <div class="has_not_signed_up">아직 회원이 아니신가요?</div>
      <a href="">
        <button class="sign_up_button">회원가입하기</button>
      </a>
    </section>
  </body>
</html>
